body
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	margin: auto;
}

@font-face {
    font-family: Vestovia;
    src: url('./assets/font/Vestovia.otf');
}